@using Crud_Cadastro.Enums
@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
    </div>
    <br/>
    
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>    
    }
    else if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>    
    }
    
    <h2>Listagem de Usuários</h2>
    <br/>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Login</th>
            <th scope="col">Perfil</th>
            <th scope="col">Data de Cadastro</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        
        @if (Model != null && Model.Any())
        {
            foreach (UsuarioModel usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.Name</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Login</td>
                    <td>@(usuario.Profile == ProfileEnum.Admin ? "Admin" : "Usuário")</td>
                    <td>@usuario.CreatedOn</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a
                                role="button"
                                class="btn btn-primary"
                                asp-route-id="@usuario.Id"
                                asp-controller="Usuario"
                                asp-action="Editar">
                                Editar
                            </a>
                            
                            <a
                                role="button"
                                class="btn btn-danger"
                                asp-route-id="@usuario.Id"
                                asp-controller="Usuario" 
                                asp-action="Apagar">
                                Apagar
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        
        </tbody>
    </table>
    
    <div class="d-flex justify-content-center align-items-center position-relative mt-3">
        <nav aria-label="Navegação de Páginas">
            <ul class="pagination justify-content-center">
                <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
                    <a class="page-link" 
                       asp-action="Index" 
                       asp-route-currentPage="@(ViewBag.CurrentPage - 1)"
                       asp-route-pageSize="@ViewBag.PageSize">
                        Anterior
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" 
                           asp-action="Index" 
                           asp-route-currentPage="@i"
                           asp-route-pageSize="@ViewBag.PageSize">
                            @i
                        </a>
                    </li>
                }
                <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" 
                       asp-action="Index" 
                       asp-route-currentPage="@(ViewBag.CurrentPage + 1)"
                       asp-route-pageSize="@ViewBag.PageSize">
                        Próximo
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="position-absolute end-0 d-flex align-items-center">
            <form method="get" asp-action="Index" class="d-flex align-items-center">
                <input type="hidden" name="currentPage" value="1" />
            
                <label class="me-2 small text-secondary">Exibir:</label>
                <select name="pageSize" class="form-select form-select-sm" style="width: 70px;" onchange="this.form.submit()">
                    <option value="10" selected="@(ViewBag.PageSize == 10)">10</option>
                    <option value="25" selected="@(ViewBag.PageSize == 25)">25</option>
                    <option value="50" selected="@(ViewBag.PageSize == 50)">50</option>
                </select>
            </form>
        </div>
    </div>
    
</div>
